     <% @events.each_with_index do |event, index| %>
        <div class="card-event">
          <div class="d-flex flex-column">
            <%= link_to event_path(event) do %>
              <div class='img-event'> <%= image_tag "#{event.image}", class: "w-100" %></div>
            <% end %>

            <div class="card-event-info">
              <div>

                <div class="header-star">
                  <h1 class="mb-2"><%= event.name %></h1>

                  <div class="favorite-star">
                    <% if current_user.favorites.where(event: event).any? %>

                      <i class="fas fa-star favorite-star" data-controller="favorite" data-action="click->favorite#toggle" data-favorite-event-id-value="<%= event.id %>" data-favorite-user-id-value="<%= current_user.id %>"></i>

                    <% else %>

                      <i class="far fa-star favorite-star" data-controller="favorite" data-action="click->favorite#toggle" data-favorite-event-id-value="<%= event.id %>" data-favorite-user-id-value="<%= current_user.id %>"></i>

                  <% end %>
                  </div>

                </div>

                  <% if event.date? %>
                    <h6><i class="fa-solid fa-calendar-days me-2"></i><%= event.date %></h6>
                  <% end %>

                <%= link_to event_path(event), class: "btn-event" do %>
                  See details <i class="fa-solid fa-arrow-right"></i>
                <% end %>
              </div>

            </div>
          </div>

        </div>
      <% end %>
