
<div class="events-map"
  data-controller="map user-location"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%# temporario para apresentacao %>
<div class="module">
  <h2 class="stripe-1">Near you</h2>
</div>
<%# temporario para apresentacao %>


      <% @events.each_with_index do |event, index| %>
        <div class="card-event">
          <div class="d-flex flex-column">
            <%= link_to event_path(event) do %>
              <div class='img-event'> <%= image_tag "#{event.image}", class: "w-100" %></div>
            <% end %>
            <div class="card-event-info">
              <div class="stripe-2">
                <h1 class="mb-2"><%= event.name %></h1>
                <%# <h1 class="mb-2"><i class="fa-solid fa-map-pin me-2"></i><%= event.name %>
                <% if event.date? %>
                  <h6><i class="fa-solid fa-calendar-days me-2"></i><%= event.date %></h6>
                <% end %>
                <%= link_to event_path(event), class: "btn-event" do %>
                  See details <i class="fa-solid fa-arrow-right"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>



<%# temporario %>
<div id="img-temporaria"></div>
<%# temporario %>
