<div>
  <%= image_tag(@event.image, id: 'event-show-image') %>
</div>

<div class='card-trip'>
  <div id="info-show">
    <h1><%= @event.name %></h1>
    <%= @event.date %>
    <div id="description-head"><h3>Descrição do Evento</h3></div>
    <div id="description-body"><%= @event.description %></div>
    <%= @event.address %>
  </div>
</div>

<div><%= link_to "Tickets", @event.link, target: :_blank, class: "btn btn-primary d-flex justify-content-center" %></div>

<div><%= link_to "Back to Events", events_path, class: "btn btn-secondary d-flex justify-content-center" %></div>
