
<div>
  <%= image_tag(@event.image, id: 'event-show-image') %>
</div>

<div class='card-trip'>
  <div id="info-show">

    <div class="header-star">
      <h1><%= @event.name.upcase %></h1>
      <div class="favorite-star">
      <%# current_user.favorites.find_by(event_id:@event.id %>
        <% if current_user.favorites.where(event: @event).any? %>
          
            <i class="fas fa-star favorite-star" data-controller="favorite" data-action="click->favorite#toggle" data-favorite-event-id-value="<%= @event.id %>" data-favorite-user-id-value="<%= current_user.id %>"></i>
          
          <% else %>
          
            <i class="far fa-star favorite-star" data-controller="favorite" data-action="click->favorite#toggle" data-favorite-event-id-value="<%= @event.id %>" data-favorite-user-id-value="<%= current_user.id %>"></i>
          
        <% end %>
      </div>
    </div>

    <% if @event.date? %>
      <div id="blacktag"><%= @event.date %></div>
    <% end %>

    <div id="blacktag"><%= @event.address %></div>
    <div id="description-head"><span>About:</span></div>
    <div id="description-body"><%= @event.description %></div>

  </div>

</div>

<% if @event.date? %>
  <div><%= link_to "Get tickets", @event.link, target: :_blank, class: "btn btn-dark d-flex justify-content-center" %></div>
<% end %>


<div id="back-button"><%= link_to "Back to events", events_path, class: "btn btn-secondary d-flex justify-content-center" %></div>
