<div class="profile-container">
  <h1>My account</h1>
  <div class="user-info">
    <img class="user-image" src="<%= @user.picture_url %>">
    <h2><strong><%= @user.name %></strong></h2>
  </div>

</div>


<div class="details">
  <span id="description-head">Email</span>
  <span><%= @user.email %></span>

  <% if @user.address? %>
    <span id="description-head">Location</span>
    <span><%= @user.address %></span>
  <% end %>
  <span id="description-head">Last access</span>
  <span><%= @user.updated_at.to_time.strftime('%A, %b %d') %></span>



</div>
<div id="back-button sticky-footer" class="flex-shrink-0"><%= link_to "Edit or add info", events_path, class: "btn btn-dark d-flex justify-content-center" %></div>
<div id="back-button sticky-footer" class="flex-shrink-0"><%= link_to "Back to events", events_path, class: "btn btn-secondary d-flex justify-content-center" %></div>
